:root {
    --primary-color: #2b70fa;
    --secondary-color: #1e1e1e;
    --text-color: #666666;
    --heading-color: #1e1e1e;
    --white-color: #ffffff;
    --black-color: #000000;
    --gray-color: #f5f5f5;
    --dark-gray: #333333;
    --light-gray: #f8f9fa;
    --border-color: #e5e5e5;
}

/* Color Classes */
.color-primary {
    color: var(--primary-color) !important;
}

.bg-primary {
    background-color: var(--primary-color) !important;
}

.color-secondary {
    color: var(--secondary-color) !important;
}

.bg-secondary {
    background-color: var(--secondary-color) !important;
}

.color-white {
    color: var(--white-color) !important;
}

.bg-white {
    background-color: var(--white-color) !important;
}

.color-black {
    color: var(--black-color) !important;
}

.bg-black {
    background-color: var(--black-color) !important;
}
